@{
    ViewData["Title"] = "Party Invite";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div>
    <div>
        <div class="text-center m-2">
        <h3>Kate and Stu's' Wedding</h3><br/>
        <h4>Woop Woop!</h4>
        @*
            TODO: Add a picture
        *@
        <a class="btn btn-primary" asp-action="RsvpForm">Click here to RSVP</a>
        </div>
    </div>
</div>
</body>
</html>