@model GetAPet.Models.Pagination.PetListViewModel
@{
    ViewData[ "Title" ] = "Get A Pet!";
}

@foreach ( var pet in Model?.Pets ?? Enumerable.Empty<Pet>() )
{
    <partial name="PetListSummary" model="pet"/>  
}

<div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
 page-class="btn" page-class-normal="btn-outline-dark"
 page-class-selected="btn-primary" page-url-species="@Model?.CurrentSpecies!" class="btn-group pull-right m-1">
</div>