@model Product
@{
    Layout = "_SimpleLayout";
}

<div class="m-2" wrap="true">Inner Content</div>

<div route-data="true"></div>

<table class="table table-striped table-bordered table-sm">
    <thead>
    <tr bg-color="info" text-color="white">
        <th colspan="2">Product Summary</th>
    </tr>
    </thead>
    <tbody>
    <tr for="Name"/>
    <tr for="Price" format="c"></tr>
    <tr for="CategoryId"/>
    </tbody>
</table>

